@import '../../../theme/variables';

.ConverterForm {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  &Input {
    width: 150px;
    margin-right: 30px;

    &__errors {
      font-size: 12px;
      padding: 5px;
      color: $red;
      box-sizing: border-box;
    }
  }
}
