.CurrencyRateListRow {
  display: flex;
  width: 100%;
  height: 60px;

  &_theme {
    &_tasks_total {

    }
    &_sprint-row {
      width: 45%;
    }
  }

  &__cell {
    padding: 10px;
    border-right: 1px solid #CDCDCD;
    border-bottom: 1px solid #CDCDCD;
    box-sizing: border-box;

    &_theme {
      &_center {
        display: flex;
        justify-content: center;
      }
      &_sm {
        width: 10%;
      }
      &_md {
        width: 20%;
      }
      &_bg {
        width: 40%;
      }
    }

    &:last-child {
      border-right: none;
    }

    &_38 {
      width: 38%;
    }
    &_9 {
      width: 9%;
    }
    &_28 {
      width: 28%;
    }
    &_17 {
      width: 17%;
    }
  }

}
