@import "../../../theme/variables";

.MenuTop {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  &__list {
    padding-left: 0;
    display:flex;
    justify-content:flex-start;
    list-style:none;
  }

  &__item {
    position:relative;

    &:not(:last-of-type) {
      margin-right:22px;
    }

    &_active {
      & a {
        font-weight:700;
      }
    }
  }

  &__link {
    font-size:14px;
    font-weight:300;
    color: $blue;
  }
}