.UserCurrency {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  &__label {
    font-weight: bold;
  }
  &__select {
    margin-left: 20px;
  }
}
